<div class="w3-container w3-center  w3-padding-16">
  <div class="w3-container w3-center">
    <h2><a href="/"class="nounderline">GOODWE SENSORS</a></h2>
  </div>
  <div class="w3-container w3-quarter">
    <h4 class="w3-left"><a href="/inverters"class="nounderline">Inverters</a></h4>
  </div>
  <div class="w3-container w3-quarter">
    <h4 class="w3-left"><a href="/settings"class="nounderline">Setup</a></h4>
  </div>
  <div class="w3-container w3-quarter">
    <h4 class="w3-left"><a href="/discovery"class="nounderline">Discovery</a></h4>
  </div>
  <div class="w3-container w3-quarter">
    <h4 class="w3-left"><a href="/data"class="nounderline">Data</a></h4>
  </div>
</div>
